.brand-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-brand-container {
  background-color: #151531;
  border-radius: 32px;
  text-align: center;
  margin-top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 301.3px;
  position: relative;
}

.brand-text {
  margin-right: 180px;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 18px 38.2812px 17.7969px 32px;
}

@media (max-width: 642px) {
  .brand-container {
    flex-direction: column;
  }

  .brand-text {
    margin-right: 0;
  }

  .button-control {
    margin-bottom: 60px !important;
  }

  .main-brand-container {
    width: 18.938rem !important;
    height: 45.848rem !important;
    padding: 82px 30px;
  }

  .controls {
    flex-direction: column;
  }
}
