nav {
  display: flex;
}

.logo {
  background-color: #9d0aff;
  text-align: center;
  border-radius: 16px;
  padding: 14px 25px;
}
.logo div {
  width: 13.33px;
  height: 4.44px;
  background-color: #fffaff;
  margin: 6px 0;
}

.menu-item {
  font-family: "Inter";
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 0.875rem;
  cursor: pointer;
}

.menu-item:hover {
  color: #9d0aff;
}

.highlight {
  color: #9d0aff;
}

.toggle-btn {
  display: none;
}

@media (max-width: 642px) {
  .toggle-btn {
    display: inline-block;
  }

  .menu {
    display: none;
    order: 3;
  }

  .buttons {
    display: none;
  }

  .menu-list {
    text-align: center;
    order: 3;
  }

  .menu-item {
    width: 100%;
    margin-bottom: 0.8rem;
  }
}
