footer {
  background-color: #151531;
  margin-top: 140px;
  padding: 100px 116px 60px 116px;
  margin-left: -5px;
}

.logo {
  background-color: #9d0aff;
  text-align: center;
  border-radius: 16px;
  padding: 14px 25px;
}
.logo div {
  width: 13.33px;
  height: 4.44px;
  background-color: #fffaff;
  margin: 6px 0;
}

.brand-name {
  color: #fffaff;
}

.pages ul {
  margin: 0;
  padding: 0;
}

.list-item {
  font: 400 1rem/1.3rem Plus Jakarta Sans;
  color: #fffaff;
  margin-bottom: 12px;
}
